* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    font: 500 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#container {

    margin: 15% auto;
    width: 50%;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    border-radius: 5px;
    justify-content: center;

}

a{
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: peru;
}

/* selected link */
a:active {
    color: blue;
}
